$bkgnd: white;
$st-color: #419EAB;
$scnd-color: #FFE2B7;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: $bkgnd;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    
    .principal-board {
        display: flex;
        position: absolute;
        width: 399px;
        height: 488px;
        border-radius: 6px;
        
        background-color: $st-color;
    }

    .result-board {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 606px;
        width: 341px;

        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: $st-color;
        border-radius: 6px;

        .result-card {
            width: 313.09px;
            height: 411.9px;

            background:  $scnd-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
        }

        .result-name { 
            width: 313.09px;
            height: 98.18px;

            background:  $scnd-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
        }
    }
    
    .question-card {
        position: absolute;
        width: 392px;
        height: 85px;
        border-radius: 6px;
        
        margin-right: 56px;
        margin-top: -15%;
        
        background-color: $scnd-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        .question {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            
            margin-top: 11px;
            margin-left: 26px;
        }

        section {
            background-color: $scnd-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            width: 296px;
            height: 38px;

            margin-top: 11px;
        }
        
        .options{
            display: flex;
            flex-direction: column;
            margin-top: 76px !important;
            margin-left: 100px;

            .txt-options {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                padding-left: 12px;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

.left-case {
    display: flex;
    background-color: $st-color;
    width: 105px;
    height: 61px;
    border-radius: 6px;

    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 20vh;
    left: 27%;
    
    .left-arrow {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
    }
}

.right-case {
    display: flex;
    background-color: $st-color;
    width: 105px;
    height: 61px;
    border-radius: 6px;

    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 20vh;
    left: 67%;
    
    .right-arrow {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 17px;
    }
}